*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.location{
    width:80%;
    padding:80px 0;
    margin: auto;
}
.location iframe{
    width: 100%;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://th.bing.com/th/id/R.ae46bad788de23fdf46450502826bae8?rik=xmDDvsaKPcEqFg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f5%2fc%2f9%2f1475006-best-solid-desktop-wallpapers-1920x1080-meizu.jpg&ehk=VKH6cy2ELgPuoVLXsLWVWcb7InPNJhB%2fH%2fP1Qx%2fU8Ws%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.container .contactinfo{
   width: 50%;
   display: flex;
   flex-direction: column;
}
.container .contactinfo .box{
   position: relative;
   padding: 20px 0;
   display: flex;
}
.container .contactinfo .box .icon{
   min-width: 45px;
   height: 45px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 25px;
   transition: 0.2s;
}
.container .contactinfo .box .icon:hover{
    min-width: 55px;
   height: 55px;
}
.container .contactinfo .box .text{
   display: flex;
   margin-left: 20px;
   font-size: 16px;
   color: #fff;
   flex-direction: column;
   font-weight: 200;
}
.container .contactinfo .box .text h5{
    font-size: 19px;
    margin-bottom: 5px;
    font-weight: 600;
}
 .contactform{
    width: 40%;
   padding: 40px;
    background: #fff;
    border-radius: 10px;
 }
 .contactform h2
{
   font-size: 30px;
    color: #333;
   font-weight: 500;
}
.contactform .inputbox
{
   position: relative;
   width: 100%;
   margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
   font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
   position: absolute;
    Left: 0;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
 {
    color: rgb(48, 48, 145);
   font-size: 12px;
    transform: translateY(-28px);
 }
.contactform .inputbox input[type="submit"]{
 width: 200px;
 background: #00bcd4;
 color: #fff;
 border: none;
 cursor: pointer;
padding: 10px 20px;
font-size: 18px;
border-radius: 50px;
}
.contactform .inputbox input[type="submit"]:hover{
    background-color: darkblue;
    color: white;
    transition: 1s;
}



@media (max-width: 991px){
     .contact{
        padding: 50px;
     }
      .container{
        flex-direction: column;
      }
      .container .contactinfo{
        margin-bottom: 40px;
      }
      .container .contactinfo{
        width: 100%;
      }
      .container .contactform{
        width: 100%;
      }

}
.logo{
    margin: 0;
    padding: 0;
    height: 45px;
    margin-top: 25px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px 0px 100px ;
}
.navbar{
    /* flex: 1; */
    text-align: right;
}
.navbar ul{
    margin-top: 25px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 12px;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navbar ul li::after{
    content: '';
    margin: auto;
    background: white;
    height: 2px;
    width: 0%;
    display: block;
    transition: .5s;
}
.navbar ul li:hover::after{
      width: 100%;
}
.sub-header{
    width: 100%;
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/img/download\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
.sub-header h1{
    font-size: 35px;
    margin-top: 70px;
}
.fcontainer{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 70px 0;
     
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col ul{
    padding-left: 0;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

